.container{
    background-color: rgba(156, 30, 135,0.5 );
    border: 5px solid green;
    margin: 10px;
}

.common{
    border: 3px solid red;
  
}


.common:hover{
    border: 3px solid green;
    transform: scale(1.2);
    transform: translate(40px);
    transform: rotate(90deg);
}