.container{
    background-color: rgba(156, 30, 135,0.5 );
    border: 5px solid green;
    margin: 0px;
}
.common{
    border: 3px solid red;
    position: relative;
    margin-top: 50px;
}

#div1{
    position: absolute;
    top: 20px;
}