div,p{
    border: 1px solid black;
    margin: 5px;
}

#four > div{
    background-color: yellow !important;
}

#four p#second-para{
    background-color: red;
}

#four ~ div{
    background-color: aqua;
}

p::after{
    content: "hello";
}

p::before{
    content: url("Pro.jpg");
}